.body {
background-image: url('https://static.vecteezy.com/system/resources/previews/000/094/191/non_2x/free-old-paper-vector.jpg');
}
.pic{
  height: 300px;
  position: absolute;
  left: 8%;
}
h3{
  display:inline-block;
}
.addbox{
  margin-left: 10%;
background-image: url(todopic.png);
background-repeat: no-repeat;
background-size: 100%;
padding-top: 2%;
}

.additem{
  width: 60%;
  background-color: rgba(128, 128, 128, 0.6);
  color: black;
  display: inline-block;
  margin-left: 12%;
  font-size: 2em;
  margin-top: 18%;
}
.additem2{
  width: 55%;
  background-color: rgba(128, 128, 128, 0.6);
  color: black;
  display: inline-block;
  margin-left: 12%;
  font-size: 2em;
  margin-bottom: 4%;
  
}
input {
  border: none;
  padding-left: 2%;
}
input::placeholder {
  color: white;
}
.addbutton{
  font-size: 31px;
  width: 5%;
  border:2px solid black;
  background-color: rgba(128, 128, 128, 0.6);
}
.listbox{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  padding-top: 0;
}

input[type=checkbox] {
zoom: 4;
vertical-align: top;
margin-top: 5%;
background-color: skyblue;
color: green;
}

.titlebox {
  width: 90%;
  margin-bottom: 0%;
  font-size: 35px;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  border: 1px solid blue;
}
.descriptionbox{
  width: 85%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 9%;
  border: 1px solid blue;
}
.delete{
  display: inline;
  border: none;
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}