body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 200%;
}

p {
    color: #eeeeee;
    font-size: larger;
    line-height: 125%; 
}

.credits {
    text-decoration: underline;
    color: #49DAFF;
}

.credits:hover {
    cursor: pointer
}

#film-description {
    font-size: 90%;
    font-style: italic;
}