.parent {
    border: 2px solid black;
    height: 150px;
    width: 200px;
    background-color: white;
    position: relative
}


.child1 {
    height: 50px;
    width: 100%;
    background-color: darkred;
    position: absolute;
    top: 0;
}

.child2 {
    height: 50px;
    width: 100%;
    background-color: darkgreen;
    position: absolute;
    bottom: 0
}


.child3 {
    height: 30px;
    width: 100%;
    background-color: navy;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
