img {
        position:absolute;
        right: 0;
            }
            
.example1 {
        background-color:yellow
            }
.example2 {
        font-family: fantasy
            }
.example3 {
        border: 1px solid black          
            }
.example4 {
        color: red
            }
        