body {
    background-color: skyblue;
}

h1 {
    background-color: blue;
    color: red;
    top: 0;
    margin-top: 0;
    border-radius: 30%;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    
}

h4 {
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}

.baddies {
    display: inline-block;
    margin: 20px
}

input {
    right: 0;
    width: 30px;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
}