.body {
  background-color: #EEEEEE;
}
.cover {
background-image: url("./img/office.jpg");
background-size: cover;
}

.nav {
height: 60px;
width: 100%;
background-color: rgba(255, 255, 255, 0.6);
text-align: center;
}

.logo{
  height: 60px;
  float: left;
}

.navButtons {
  color: black;
  padding: 5%;
  position: relative;
  top: 20px;
  text-decoration: none;
  font-size: 1.3em;
  font-family: sans-serif;
}

.middle {
  height: 600px;
  text-align: center;
  font-size: 2em;
  color: #2F609F;
  text-shadow: 3px 3px 5px #FFFFFF;
  padding-top: 5%;
}

.services {
  margin: 10%;
  font-size: 1.3em;
  color: #2F609F;
    line-height: 1.5;
}
.whyus {
  font-size: 1.3em;
  color: white;
  background-color: #2F609F;
  padding: 5%;
  text-align: center;
  line-height: 1.5;
}

.imgs{
  height: auto;
  width: 100%;
}

.whyusTitle {
  color:white;
}

.box {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(135,206,250, 0.3);

}
.box1 {
  display: inline-block;
  width: 26%;
padding-right:5%;
text-align: left;
}
.box2 {
  display: inline-block;
  width: 26%;
  padding-right: 1%;
  padding-left: 1%;
  text-align: left;
  }
.box3 {
  display: inline-block;
  width: 26%;
  padding-left: 5%;
  text-align: left;
  }
.about {
  margin: 20%;
  font-size: 1.3em;
  color: #2F609F;
    line-height: 1.8;
}

h4 {
  color: #133071;
}

  .footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #29401B;
  color: white;
}

.numberFooter {
  right: 10px;
  position: absolute;
}
