.parent {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: white;
    position: relative
}


.child1 {
    height: 150px;
    width: 50px;
    background-color: blue;
    position: absolute;
    left: 0;
}

.child2 {
    height: 150px;
    width: 50px;
    background-color: red;
    position: absolute;
    right: 0
}

/*
.child3 {
    height: 150px;
    width: 50px;
    background-color: 
}*/
