div {
    height: 500px;
    width: 1000px;
    background-color: yellow;
    border: 3px solid black;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    color: red;
    font-size: 4em;
    font-weight: bolder;
}

h3 {
    color: orange;
    font-size: 5em;
}