.parent {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: red;
    position: relative
}


.child1 {
    height: 50px;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 0;
}

.child2 {
    height: 50px;
    width: 150px;
    background-color: yellow;
    position: absolute;
    bottom: 0
}

/*
.child3 {
    height: 150px;
    width: 50px;
    background-color: 
}*/
