body {
    background-image: url(paper.jpg);
    background-size: cover;
}

.todobox {
/*    width: 50%;*/
    border: 2px solid black;
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0,191,255, 0.3);
}

h1 {
    text-align: center;
    font-family:monospace;
    font-size: 3em;
    margin-bottom: 30px;
}

.todotext {
    font-size: 1.3em;
    width: 50%;
}

.pricetext {
float: right;
margin-right: 10px;
    
}

.price {
    float: right;
    font-size: 1.3em;
    width: 20%;
    text-align: right;
}

.description {
    font-size: 1.3em;
    width: 100%;
    height: 30px;
}

.listdiv1 {
    display: inline-block;
}
.listdiv2 {
    display: inline-block;
    float: right;
    margin-right: 5%;
}

li {
    list-style: none;
    display: inline-block;
}

.buttonbox{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.addbutton {
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;

}

.item {
    font-size: 1.5em;
    font-family: sans-serif;
    margin-left: 10px
}

.descriptionlist {
    font-size: 0.8;
    margin-left: 30px;
}

label {
    font-size: 1.2em;
}
