.app-wrapper{
  text-align: center;
  background-image: url("geobackground.jpg");
  background-size: 100% 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 5vh;
  font-size: 2em;
  font-family: "Poiret One", monaco, sans-serif;
}

.navbarLinks{
    color: white;
    text-decoration: none;
    padding: 1%;
    color: #69e4ff;
}

.navbarLinks:hover{
    font-style: italic;
    font-weight: bold;
    color: white;
}
.home{
  height: 95vh;
}

.title{
    color: #69e4ff;
    font-size: 8em;
    font-family: 'ABeeZee', futura, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px 1px #00BFFF;
    text-decoration: none;
}

.title:hover {
    color: #a6eaff;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

.flash{
	animation: flash linear 2s infinite;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .0; } 
	100% { opacity: 1; }
}

.projectLinks{
  position: fixed;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.1);
  font-size: 2em;
  height: 100%;
}

.projectLinks a {
  text-decoration: none;
  color: #F0FFFF;
  margin: 50px 10px 20px 20px;
}

.projectsBox{
  height: 95vh;
  background-color: rgba(255,255,255, 0.1);
}

.project{
    padding: 10%;
}
    
.about{
  height: 95vh;
  background-color: rgba(255,255,255, 0.3);

}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  height: 5vh;
  background-color: black;
  font-size: 2em;
}