div {
    border: 3px solid black;
    height: 500px;
    width: 500px;
    text-align: center;
    
    
}

h1 {
top: 200px;
position: relative
}

div:hover {
     background-color: blue;
    }
div:active {
    background-color: red;
}
div {
    background-color: yellow;
}