.parent {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: white;
    position: relative
}


.child1 {
    height: 50px;
    width: 150px;
    background-color: orange;
    position: absolute;
    top: 0;
}

.child2 {
    height: 50px;
    width: 150px;
    background-color: green;
    position: absolute;
    bottom: 0
}

.child3 {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);