@import url("http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic");

@font-face {
    font-family: verdemoderna;
    src: url(verdemoderna.woff)
}
.topimage {
    background-image: url(contours@2x.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
    height: 300px;
}

.logo {
    width: 125px;
    height: 125px;
    position: relative;
    top: 80px;
    left: 100px;
}

h1 {
    font-family: 'Julius Sans One';
    color: white;
    position: relative;
    display: inline-block;
    top: 70px;
    left: 120px;
    font-size: 4em;
    
}

h2 {
    color: #BACDCD;
    font-style: italic;
    position: relative;
    display: block;
    left: 250px;

}
h3 {
    font-family: "Julius Sans One";
    font-size: 2.1em;
}

.htmlcsslink {
    font-family: "Julius Sans One";
    color:#839D81;
}

.htmlcsslink:hover {
    background-color: #3D8A9F;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.title {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.designs {
    height: 300px;
    text-align: center;
    background-color: rgba(25, 69, 71, 0.3);
}

.button1 {
    height: 65px;
    color: #BACDCD;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 110px;
    margin-right: 5px
}

.button2 {
    height: 65px;
    color: #BACDCD;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    margin-top: 110px;
    margin-right: 20px;
    

}

.buttontext {
    font-family: "Julius Sans One";
    font-size: 1.3em;

    
}

.arrow {
    font-family: "verdemoderna";
    font-size: 3em;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


body {
    font-family: 'Libre Baskerville';
    color: #325050;
}

p {
    font-size: 1.1em;
}

.dottedunderline {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.textanchors {
    color: #0D8BA1;
}

.box1 {

    line-height: 2;
    padding-left: 120px;
    padding-top: 70px;
    padding-right: 80px;
}
.box2 {

    background-color: #E5EDE8;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 100px;
    
}

ul {
    list-style: none;
}

.box2>ul>li {
    border-bottom: 2px solid #C0CAC3;
    border-bottom-color: #D9E3DC;
    padding-top: 30px;
    padding-left: 10px;
    margin-right: 100px;
    padding-right: 60px;
}

.articlelink {
    font-family: "Julius Sans One";
    font-size: 1.3em;
    color: #607476;
}

.articlelink:hover {
    color: #49968E;
    text-decoration: none;
}

.writer {
    color: #616857;

}

.writer:hover {
    color: #49968E;
    text-decoration: none;
}

.by {
    color: #C0CAC3;
}

.midimage {
    background-image: url(bamboo.png), url(contours@2x.png), url(gridlines.png);
    background-color: rgba(138,188,159,0.5);

}
.box3 {
    line-height: 2;
    padding-left: 120px;
    padding-top: 70px;
    padding-right: 80px;  
}

.box4 {
    font-family: "Julius Sans One";
    font-size: 1.4em;
    text-align: left;
    padding-top: 40px;
    padding-right: 120px;
    background-color: rgba(25, 69, 71, 0.1);
    padding-bottom: 300px;
}

.box4>ul>li {
    border-top: 2px solid #C0CAC3;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
}


.box5 {
    line-height: 2;
    padding-left: 120px;
    padding-top: 70px;
    padding-right: 80px;  
}

.box6 {
    background-color: #E5EDE8;
    height: 800px;
}

.bottompic {
    background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(noise.png), url(koi.jpg);
    height: 300px;
    text-align: center;
    padding-top: 100px;
}

.daveshea {
    color: #C4CECE;
}
.bottompic>div>h2 {
    font-size: 2.4em;
    color: #89A1A3;
}

.footer {
    background-color: #134347;
    height: 180px;
    
}
.footer>div {
    text-align: center;
}
.verde {
    font-family: verdemoderna;
    font-size: 5em;
    color: #89A1A3;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: 40px;
    border-radius: 100%;
    
}

.verde:hover {
    background-color: #89A1A3;
    color: #134347;
    text-decoration-style: none;
}
